header.bg-indigo-600.p-4 
    .container.mx-auto.flex.justify-between.items-center
        a(href="/")
            h1.text-2xl.text-white.font-extrabold.text-center Bienes
                span.font-normal Raices

        nav(class="my-5 text-sm md:flex md:items-center font-bold text-white md:gap-4")
            a(href="/mis-propiedades" class="hover:scale-110 transform transition-transform duration-200 origin-center") Mis Propiedades
            a(href="" class="hover:scale-110 transform transition-transform duration-200 origin-center") Mi Perfil
            form(action="/auth/cerrar-sesion" method="POST")
                input(type="hidden" name="_csrf" value=csrFToken)
                input(type="submit" class="hover:scale-110 transform transition-transform duration-200 origin-center" value="Cerrar Sesión") 